<section id="search" class="search-wrap">
	<img style="width: 300px; height:300px; object-fit: cover; border-radius: 150px; align-items:center;" src="img/MyPhoto.jpg" alt="MyPhoto">
	<p style="font-size: 70px; margin-top: 5px;font-weight:bold; color: white;">
		Welcome to my projects portfolio
	</p>
	<button style="width: 600px; border-radius: 10px; font-size: 40px;" id='submit-button' type="button" class="btn btn-info">
		Let's see my projects
	</button>
</section>
